@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');

/* Variables to change colors easily */
:root {
    --titles-color:#c4161c;
    --recipe-background: rgb(255, 245, 245);
    --text-color: black;
}

/* CSS Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and containers */
body {
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
}   

.container {
    width: 60%;
    margin: 2em auto;
}

.recipe, .nav {
    margin: 0;
    padding: 3em;
    background-color: var(--recipe-background);
    border: 1px solid var(--titles-color);
    border-radius: 20px;
}

/* Images */
img {
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
}

/* Headings */
h1, h2 {
    font-family: 'Ysabeau SC', sans-serif;
    color: var(--titles-color);
}

h1 {  
    font-size: 5em;
    margin-bottom: 0;
}

h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    text-decoration: underline;
    color: var(--titles-color);
}

/* Lists and links */
ul {
   margin-top: 0.5em;
   list-style: none;
}

li, p {
    margin: 1em;
}

a { 
    color: var(--text-color);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: var(--titles-color);
}
